*{
    box-sizing: border-box;
}

.nav-bar{
    align-items: end;
}

body{
    display: inline;
    background-color: antiquewhite;
    max-width: 200px;
    width: 80%;
    text-align: center;
}
img{
    max-width: 400px;
}
.intro{
    display: flex;
    flex-direction: row;
}
.intro  img{
    border-radius: 40%;
    width: 300px;
}